@model IEnumerable<Entities.Concrete.Category>
<div class="sidebar-box">
    <h3 class="heading">Kategoriler</h3>
    <ul class="categories">
        @foreach (var item in Model)
        {
            <li><a href="/Blog/BlogByCategory/@item.CategoryId">@item.CategoryName</a></li>
        }
    </ul>
</div>

