@model IEnumerable<Entities.Concrete.Blog>
<div class="sidebar-box">
    <h3 class="heading">Yazarın Diğer Paylaşımları</h3>
    <div class="post-entry-sidebar">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="/Blog/BlogDetails/@item.BlogId">
                        <img src="@item.BlogImage" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>@item.BlogTitle</h4>
                            <div class="post-meta">
                                <span class="mr-2">@(((DateTime)item.BlogDate).ToString("dd-MMM-yyyy")) </span>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
