@model IEnumerable<Entities.Concrete.Comment>

<div class="pt-5">
    <h3 class="mb-5">Yorumlar</h3>
    <ul class="comment-list">
        @foreach (var item in Model)
        {
<li class="comment">
    <div class="vcard">
        <img src="/Templates/miniblog/images/person_1.jpg" alt="Image placeholder">
    </div>
    <div class="comment-body">
        <h3>@item.UserName</h3>
        <div class="meta">January 9, 2018 at 2:21pm</div>
        <p>@item.CommentText</p>
        <p><a href="#" class="reply rounded">Reply</a></p>
    </div>
</li>}
    </ul>
    @Html.Action("LeaveComment", "Comment")
</div>