@model IEnumerable<Entities.Concrete.Comment>

<div class="pt-5">
    <h3 class="mb-5">Yorumlar</h3>
    <ul class="comment-list">
        @foreach (var item in Model)
        {
<li class="comment">
    <div class="vcard">
        <img src="/Templates/miniblog/images/person_1.jpg" alt="Image placeholder">
    </div>
    <div class="comment-body">
        <h3>@item.UserName</h3>
        <div class="meta">@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</div>
        <p>@item.CommentText</p>
    </div>
</li>}
    </ul>
    @Html.Action("LeaveComment", "Comment")
</div>