@model IEnumerable<Entities.Concrete.Blog>
@{
    ViewBag.Title = "AdminBlogList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Yorumlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogId</td>
            <td>@item.BlogTitle</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.BlogDate.ToShortDateString()</td>
            <td><a href="/Blog/DeleteBlog/@item.BlogId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/UpdateBlog/@item.BlogId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Blog/BlogDetails/@item.BlogId" class="btn btn-info">Detaylar</a></td>
            <td><a href="/Blog/GetCommentByBlog/@item.BlogId" class="btn btn-dark">Yorumlar</a></td>
        </tr>
    }
</table>
<a href="/Blog/AddNewBlog/" class="btn btn-success">Blog Ekle</a>
