@model IEnumerable<Entities.Concrete.About>

<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                @foreach (var x in Model)
                {
                    <h3 class="footer-heading mb-4">Hakkımızda</h3>
                    <p>@x.AboutContent1</p>

                }
            </div>
            <div class="col-md-3 ml-auto">
                <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                <ul class="list-unstyled float-left mr-5">
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">İletişim</a></li>
                    <li><a href="#">Ana Sayfa</a></li>
                    <li><a href="#">Yazar Girişi</a></li>
                </ul>
                <ul class="list-unstyled float-left">
                    <li><a href="#">Seyehat</a></li>
                    <li><a href="#">Yazılım</a></li>
                    <li><a href="#">Teknoloji</a></li>
                    <li><a href="#">Film & Dizi</a></li>
                </ul>
            </div>
            <div class="col-md-4">


                <div>
                    <h3 class="footer-heading mb-4">Sosyal Medya Hesaplarımız</h3>
                    <p>
                        <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                        <a href="#"><span class="icon-twitter p-2"></span></a>
                        <a href="#"><span class="icon-instagram p-2"></span></a>
                        <a href="#"><span class="icon-rss p-2"></span></a>
                        <a href="#"><span class="icon-envelope p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | Bu proje teması  <i class="icon-heart text-danger" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</div>