@model IEnumerable<Entities.Concrete.Author>
<div class="site-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-5 text-center">
                <h2>Yazarlarımız</h2>
                <p>Sizlere birbirinden güzel içerikler sunan bazı yazarlarımızın listesi aşağıda yer almaktadır . Eğer sizde yazarımız olmak isterseniz iletişim kısmından bize ulaşabilirsiniz .</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
<div class="col-md-6 col-lg-4 mb-5 text-center">
    <img src="@item.AuthorImage" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
    <h2 class="mb-3 h5">@item.AuthorName</h2>
    <p>@item.AuthorAbout</p>

    <p class="mt-5">
        <a href="https://www.facebook.com/atilla.kalay74/" class="p-3"><span class="icon-facebook"></span></a>
        <a href="https://github.com/atillakalay" class="p-3"><span class="icon-github"></span></a>
        <a href="https://www.linkedin.com/in/atilla-kalay-0a6274163/" class="p-3"><span class="icon-linkedin"></span></a>
    </p>
</div>      }
        </div>
    </div>
</div>
